In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

## Load Data

In [60]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [61]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [62]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [63]:
movies.shape

(4803, 20)

In [64]:
credits.shape

(4803, 4)

In [65]:
#merge two data set 
movies = movies.merge(credits, on = 'title') # merge by title

In [66]:
movies.shape

(4809, 23)

## select required col and drop unnecessary col

In [67]:
movies['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [68]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [69]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [70]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [71]:
movies.shape

(4809, 7)

In [72]:
#check null values
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [73]:
movies.dropna(inplace = True)

In [74]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [75]:
movies.duplicated().sum()

0

In [76]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [77]:
type(movies.iloc[0]['genres'])

str

## convert str to list

In [78]:
#convert str to list
import ast
def convertStrToList(text):
    l = [] 
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [79]:
movies['genres'] = movies['genres'].apply(convertStrToList)
movies['keywords'] = movies['keywords'].apply(convertStrToList)
movies['crew'] = movies['crew'].apply(convertStrToList)

In [80]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."

In [81]:
#convert str to list and select Top 3 cast only
import ast
def convertcast(text):
    l = [] 
    count = 0
    for i in ast.literal_eval(text):
        if count < 3:
            l.append(i['name'])
        count +=1
    return l

In [82]:
movies['cast'] = movies['cast'].apply(convertcast)

In [83]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."

In [84]:
# concat overview, genres, keywords, cast, crew but overview in str and other are in list so here want convert overview from str to list

In [85]:
movies.iloc[0]['overview']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [86]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [87]:
movies.iloc[0]['overview']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [88]:
# remove space from the each str

In [89]:
def remove_space(word):
    l = []
    for i in word:
        l.append(i.replace(" ",""))
    return l

In [90]:
movies['cast'] = movies['cast'].apply(remove_space)
movies['crew'] = movies['crew'].apply(remove_space)
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)

In [91]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[StephenE.Rivkin, RickCarter, ChristopherBoyes..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[DariuszWolski, GoreVerbinski, JerryBruckheime..."

In [92]:
#concate that col
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [93]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[StephenE.Rivkin, RickCarter, ChristopherBoyes...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[DariuszWolski, GoreVerbinski, JerryBruckheime...","[Captain, Barbossa,, long, believed, to, be, d..."

In [96]:
movies.iloc[0]['tags']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'StephenE.Rivkin',
 'RickCarter',
 'ChristopherBoyes',
 'ChristopherBoyes',
 'MaliFinn',
 'JamesHorner',
 'JamesCameron',
 'JamesCameron',
 'JamesCameron',
 'JamesCameron',
 'JamesCameron',
 'AndrewMenzies',
 'JillBrooks',
 'MargerySimkin',
 'KevinIshioka',
 'DickBernstein',
 'ShannonMills',
 'DennieThorpe',
 'JanaVance',
 'DeborahLynnScott',
 'JonLandau',
 'SeanHaworth',
 'KimSinclair',
 'KimSinclair',
 'RichardF.Mays',
 'LaetaKalogridis',
 'MayesC.Rubeo',
 'MauroFiore',
 'ScottHerbertson',
 'WoodySchultz',
 'LindaDeVetta',
 'LindaDeVetta',
 'RichardBluck',
 'SimonBright',
 'RichardMartin',
 'SteveR.Moore',
 'JohnRefoua',
 'KarlJ.Martin',
 'ChilingLin',
 'IlramChoi',
 'StevenQuale',
 'CarlaMeyer',
 'NickBassett',
 'JillCormack',
 'AndyMcLaren',
 'TerryNotary',
 'GarrettWarren',
 'JonathanRothbart',
 'StefanDechant',
 'ToddCherniawsky',
 'MirandaRivers',
 'RobertStromberg',
 'JohnHarding',
 'RobertoDeAngelis',
 'MikeSmithson',
 'AlainLalanne',
 'LucasSalton',
 'JanaceTashjian',
 'StephenRosenbaum',
 'FrankieKarena',
 'LisaLovaas',
 'JonathanFawkner',
 'RobertBavin',
 'AnthonyAlmaraz',
 'CarolynM.Fenton',
 'BethKoenigsberg',
 'SamPage',
 'TexKadonaga',
 'KimFoscato',
 'TammyS.Lee',
 'DennyCaira',
 'JamesWaitkus',
 'AddisonTeague',
 'C.ScottBaker',
 'LukeCaska',
 'DavidChow',
 'JonathanDyer',
 'JosephHiura',
 'RebeccaJellie',
 'RobertAndrewJohnson',
 'MikeStassi',
 'JohnVillarino',
 'JeffreyWisniewski',
 'CherylNardi',
 'MarshallWinn',
 'GwendolynYatesWhittle',
 'WilliamStein',
 'LulaWashington',
 'ChrisDelConte',
 'R.ChristopherWhite',
 'DanLemmon',
 'TimNielsen',
 'MichaelMulholland',
 'ThomasNittmann',
 'EdsonWilliams',
 'ChristineCarr',
 'JohnBruno',
 'DavidEmmerichs',
 'ChristopherScarabosio',
 'JenniferTeves',
 'BrigitteYorke',
 'KenFischer',
 'IainHutton',
 'SteveIngram',
 'JoyceCox',
 'JennyFoster',
 'ChristopherMarino',
 'JimMilton',
 'CyndiOchs',
 'LucasPutnam',
 "Anthony'Max'Ivins",
 'JohnKnoll',
 'EricSaindon',
 'WayneStables',
 'DavidStinnett',
 'GuyWilliams',
 'StuartThorp',
 'GilesCoburn',
 'MarkFellman',
 'ScottSprague',
 'JeremyHollobon',
 'OrlandoMeunier',
 'TaisukeTanimura',
 'LiliaMishelAcevedo',
 'AlejandroM.Hernandez',
 'MarvinHall',
 'JudyAlley',
 'MikePerry',
 'AndrewMorley',
 'SethEngstrom',
 'EricOliver',
 'MatsuneSuzuki',
 'PaulTobin',
 'RoxaneGriffin',
 'ArunRam-Mohan',
 'GeorgiaLockhart-Adams',
 'ThrainShadbolt',
 'BradAlexander',
 'ShadiAlmassizadeh',
 'SimonClutterbuck',
 'GraemeDemmocks',
 'AdrianFernandes',
 'MitchGates',
 'JerryKung',
 'AndyLomas',
 'SebastianMarino',
 'MatthiasMenz',
 'SergeiNevshupov',
 'PhilippeRebours',
 'MichaelTakarangi',
 'DavidWeitzberg',
 'BenWhite',
 'MinWindle']

In [97]:
# remove unnecessary col
new_df = movies[['movie_id','title','tags']]
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [98]:
# convert tag col from list to paragraph
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head(2)

C:\Users\ags-008\AppData\Local\Temp\ipykernel_14812\1096486894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [99]:
#convert to lower case
new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

C:\Users\ags-008\AppData\Local\Temp\ipykernel_14812\3659848161.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [101]:
new_df.iloc[0]['tags']

"in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephene.rivkin rickcarter christopherboyes christopherboyes malifinn jameshorner jamescameron jamescameron jamescameron jamescameron jamescameron andrewmenzies jillbrooks margerysimkin kevinishioka dickbernstein shannonmills denniethorpe janavance deborahlynnscott jonlandau seanhaworth kimsinclair kimsinclair richardf.mays laetakalogridis mayesc.rubeo maurofiore scottherbertson woodyschultz lindadevetta lindadevetta richardbluck simonbright richardmartin stever.moore johnrefoua karlj.martin chilinglin ilramchoi stevenquale carlameyer nickbassett jillcormack andymclaren terrynotary garrettwarren jonathanrothbart stefandechant toddcherniawsky mirandarivers robertstromberg johnharding robertodeangelis mikesmithson alainlalanne lucassalton janacetashjian stephenrosenbaum frankiekarena lisalovaas jonathanfawkner robertbavin anthonyalmaraz carolynm.fenton bethkoenigsberg sampage texkadonaga kimfoscato tammys.lee dennycaira jameswaitkus addisonteague c.scottbaker lukecaska davidchow jonathandyer josephhiura rebeccajellie robertandrewjohnson mikestassi johnvillarino jeffreywisniewski cherylnardi marshallwinn gwendolynyateswhittle williamstein lulawashington chrisdelconte r.christopherwhite danlemmon timnielsen michaelmulholland thomasnittmann edsonwilliams christinecarr johnbruno davidemmerichs christopherscarabosio jenniferteves brigitteyorke kenfischer iainhutton steveingram joycecox jennyfoster christophermarino jimmilton cyndiochs lucasputnam anthony'max'ivins johnknoll ericsaindon waynestables davidstinnett guywilliams stuartthorp gilescoburn markfellman scottsprague jeremyhollobon orlandomeunier taisuketanimura liliamishelacevedo alejandrom.hernandez marvinhall judyalley mikeperry andrewmorley sethengstrom ericoliver matsunesuzuki paultobin roxanegriffin arunram-mohan georgialockhart-adams thrainshadbolt bradalexander shadialmassizadeh simonclutterbuck graemedemmocks adrianfernandes mitchgates jerrykung andylomas sebastianmarino matthiasmenz sergeinevshupov philipperebours michaeltakarangi davidweitzberg benwhite minwindle"

In [102]:
# dont use words so we want to counter vector(its means it convert to number) 
# if a word in pargraph like love , loving, loved it change to love

In [103]:
import nltk
from nltk.stem import PorterStemmer

In [105]:
ps = PorterStemmer()

In [107]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [108]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\ags-008\AppData\Local\Temp\ipykernel_14812\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [109]:
new_df.iloc[0]['tags']

"in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephene.rivkin rickcart christopherboy christopherboy malifinn jameshorn jamescameron jamescameron jamescameron jamescameron jamescameron andrewmenzi jillbrook margerysimkin kevinishioka dickbernstein shannonmil denniethorp janav deborahlynnscott jonlandau seanhaworth kimsinclair kimsinclair richardf.may laetakalogridi mayesc.rubeo maurofior scottherbertson woodyschultz lindadevetta lindadevetta richardbluck simonbright richardmartin stever.moor johnrefoua karlj.martin chilinglin ilramchoi stevenqual carlamey nickbassett jillcormack andymclaren terrynotari garrettwarren jonathanrothbart stefandech toddcherniawski mirandariv robertstromberg johnhard robertodeang mikesmithson alainlalann lucassalton janacetashjian stephenrosenbaum frankiekarena lisalovaa jonathanfawkn robertbavin anthonyalmaraz carolynm.fenton bethkoenigsberg sampag texkadonaga kimfoscato tammys.le dennycaira jameswaitku addisonteagu c.scottbak lukecaska davidchow jonathandy josephhiura rebeccajelli robertandrewjohnson mikestassi johnvillarino jeffreywisniewski cherylnardi marshallwinn gwendolynyateswhittl williamstein lulawashington chrisdelcont r.christopherwhit danlemmon timnielsen michaelmulholland thomasnittmann edsonwilliam christinecarr johnbruno davidemmerich christopherscarabosio jennifertev brigitteyork kenfisch iainhutton steveingram joycecox jennyfost christophermarino jimmilton cyndioch lucasputnam anthony'max'ivin johnknol ericsaindon waynest davidstinnett guywilliam stuartthorp gilescoburn markfellman scottspragu jeremyhollobon orlandomeuni taisuketanimura liliamishelacevedo alejandrom.hernandez marvinhal judyalley mikeperri andrewmorley sethengstrom ericoliv matsunesuzuki paultobin roxanegriffin arunram-mohan georgialockhart-adam thrainshadbolt bradalexand shadialmassizadeh simonclutterbuck graemedemmock adrianfernand mitchgat jerrykung andyloma sebastianmarino matthiasmenz sergeinevshupov philipperebour michaeltakarangi davidweitzberg benwhit minwindl"

## convert counter Vectorizer

In [112]:
from sklearn.feature_extraction.text import CountVectorizer

In [113]:
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [114]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [115]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [116]:
vector.shape

(4806, 5000)

In [117]:
from sklearn.metrics.pairwise import cosine_similarity

In [118]:
similarity = cosine_similarity(vector)

In [119]:
similarity

array([[1.        , 0.07071068, 0.03418817, ..., 0.02948839, 0.        ,
        0.        ],
       [0.07071068, 1.        , 0.03223292, ..., 0.02085144, 0.        ,
        0.02357023],
       [0.03418817, 0.03223292, 1.        , ..., 0.01680257, 0.        ,
        0.        ],
       ...,
       [0.02948839, 0.02085144, 0.01680257, ..., 1.        , 0.04605313,
        0.04914732],
       [0.        , 0.        , 0.        , ..., 0.04605313, 1.        ,
        0.10411584],
       [0.        , 0.02357023, 0.        , ..., 0.04914732, 0.10411584,
        1.        ]])

In [120]:
similarity.shape

(4806, 4806)

In [121]:
new_df[new_df['title'] == 'Spider-Man'].index[0]

159

In [133]:
def recommended(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x:x[1])
    for i in distances[0:21]:
        print(new_df.iloc[i[0]].title)

In [134]:
recommended('Inception')

Inception
Memento
The Prestige
Interstellar
The Dark Knight Rises
12 Rounds
The Dark Knight
Batman Begins
Me You and Five Bucks
Krrish
The Truman Show
The Big Hit
RED
Copying Beethoven
Juliet and Alfa Romeo
Rockaway
Big Trouble in Little China
Flying By
Star Trek V: The Final Frontier
10th & Wolf
Robot & Frank

## save in pickle formate

In [135]:
import pickle
pickle.dump(new_df, open('articats/movie_list.pkl','wb'))
pickle.dump(similarity, open('articats/similarity.pkl','wb'))